body{
  .dialog-off-canvas-main-canvas{
    #page-wrapper{
      #page{
        background-color: #D4DCFF;
        #header{
          background: rgb(125,131,255);
        }
        #main-wrapper{
          background-color: #D4DCFF;
        }
      }
    }
  }
}

.guestbook-page-wrapper{
  font-family: 'Baloo Tammudu 2', cursive;
  .form-wrapper-first{
    @include firstBackground;
    .form-wrapper-second{
      @include secondBackground;
      form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        #form-system-messages-name{
          p{
            @include bgRedAnimated;
            padding: 15px;
            margin-bottom: 15px;
            font-size: 20px;
          }
        }
        #edit-name-wrapper,
        #edit-email-wrapper,
        #edit-tel-wrapper,
        #edit-feedback-wrapper,
        #edit-profilepic-wrapper,
        #edit-feedbackpic-wrapper,
        {
          .form-item{
            label{
              color: #414591;
              font-size: 20px;
              margin-bottom: 0;
              font-weight: 400;
              line-height: 1;
              &::after{
                display: none;
              }
            }
            input{
              width: 100%;
              @include inputFields;
              .input-group-addon{
                display: none;
              }
            }
            .form-textarea-wrapper{
              textarea{
                @include inputFields;
                resize: none;
              }
            }
          }
        }
        #edit-profilepic-wrapper,
        #edit-feedbackpic-wrapper{
          .form-item{
            input{
              width: 100%;
            }
          }
        }
        .buttons-wrapper-div{
          display: flex;
          justify-content: space-around;
          .form-group{
            text-align: center;
            .form-item{
              .form-managed-file{
                input{
                  @include inputFields;
                }
              }
            }
          }
        }
        .form-actions{
          width: 70%;
          margin: 0 auto;
          padding-top: 0;
          text-transform: uppercase;
          font-size: 20px;
          color: #414591;
          @include bgGreenAnimatedButtonWrapper;
          input{
            background: transparent;
            color: $clr-white;
            border-radius: inherit;
            border: inherit;
            height: 100%;
            width: 100%;
            transition: 0.3s;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 5px;
            margin: 0 auto;
            &:hover{
              background: rgba(0, 0, 0, 0.18);
              color: #ffffff;
            }
            &:active{
              background: #3e43a8;
            }
          }
        }
      }
    }
  }
  .table-wrapper-first{
    margin: 15px 0;
    @include firstBackground;
    .table-wrapper-second{
      .table-header{
        text-align: center;
        color: #414591;
        font-size: 35px;
        border-radius: 15px;
        padding: 15px 0 0 0;
      }
      @include secondBackground;
      .db-table-content{
        display: flex;
        gap: 15px;
        .profile-author-info-block{
          .profile-pic{
            overflow: hidden;
            background: #7D83FF;
            a{
              border: none;
              margin-bottom: 0;
              img{
                margin: 0 auto;
                max-width: 250px;
                @include imgHover;
              }
              @include imgHover-hover;
            }
          }
          .profile-info{
            .profile-info-row{
              font-size: 15px;
              padding: 5px;
              border-radius: 5px;
              margin-bottom: 10px;
              a{
                transition: 0.5s;
                color: #414591;
                border-bottom: none;
                &:hover{
                  text-decoration: none;
                  color: #7D83FF;
                }
              }
            }
            .interact-buttons{
              margin-top: 30px;
              .button-wrapper-div{
                @include bgGreenAnimatedButtonWrapper;
                margin-bottom: 10px;
                border-bottom: none;
                text-align: center;
                width: 100%;
                overflow: hidden;
                .db-table-button{
                  line-height: normal;
                  transition: 1s;
                  border-radius: inherit;
                  width: 100%;
                  display: block;
                  color: $clr-white;
                  border-bottom: none;
                  &:active{
                    background: #3e43a8;
                  }
                  &:hover{
                    background: rgba(0, 0, 0, 0.18);
                    margin-left: -10px;
                    text-decoration: none;
                    border-bottom: none;
                  }
                  &:hover:after{
                    content: '  >>>';
                    position: absolute;
                  }
                }
              }
            }
          }
        }
        .profile-feedback-block{
          width: 100%;
          .feedback-text{
            font-size: 18px;
            line-height: 1.8;
            text-align: justify;
          }
          .feedbackPic{
            background: #7D83FF;
            overflow: hidden;
            a{
              img{
                width: 100%;
                height: 300px;
                object-fit: cover;
                @include imgHover;
              }
              @include imgHover-hover;
            }
          }
          .feedback-date-wrapper{
            @include bgGreenAnimatedButtonWrapper;
            padding: 1px;
            width: max-content;
            margin-left: auto;
            border-radius: 15px;
            .feedback-date{
              padding: 5px;
              margin-top: -1px;
              margin-left: -1px;
              border-radius: inherit;
              border-bottom-left-radius: unset;
              border-top-right-radius: unset;
              background: #D4DCFF;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 600px) {
  .guestbook-page-wrapper{
    .form-wrapper-first{
      .form-wrapper-second{
        form{
          .buttons-wrapper-div{
            display: block;
          }
        }
      }
    }
    .table-wrapper-first{
      .table-wrapper-second{
        .db-table-content{
          display: block;
          .profile-author-info-block {
            .profile-pic{
              width: max-content;
              margin: 0 auto;
            }
            .profile-info-row{
              text-align: center;
              &:first-child{
                margin-top: 20px;
              }
            }
          }
          .profile-feedback-block{
            .feedback-content{
              .feedback-date-wrapper{
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.ui-dialog-titlebar{
  display: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}