$clr-white: #fff;
$clr-black: #000;
$clr-cyan: #47ee9f;
$clr-cyan-dark: #065531;
$clr-pink: #f5cccc;
$clr-periwinkle: #D4DCFF;
$clr-state-blue: #7D83FF;
$clr-state-blue-dark: #414591;
$clr-grey-transparent: #00000033;